/* h1{
    color: burlywood;
} */



  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

:root {
    --main-bg:#0a4269;
    --main-color:#0097e6;
}


html{
    font-size: 62.5%;
}

.main_menu {
    background-color:  var( --main-bg);
}

.navbar {
    color: #fff;
    background-color: var( --main-bg);
    padding: 2rem 0;
}

.navbar li{
    margin-left: 2rem;
}

.navbar a{
    color: #fff;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-bg);
}

.navbar toggler{
    background-color: grey;
}

.fa-temperature-half{
    transition: linear;
    animation: rot  2s linear  infinite;
    color: var(--main-bg);
}

@keyframes rot{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }


    /* main-header */

    .main_header_left{
        height: 70rem;
        display: flex;
        flex-direction: column;
       justify-content:center;
       align-items:flex-start;
    }

    .main_header_right{
        height: 70rem;
        display: flex;
        flex-direction: column;
       justify-content:center;
       align-items:flex-start;
    }
    
    
}
